<a href="https://colab.research.google.com/github/11AJ/Machine-Learning/blob/main/Health_insurance_Prediction(LR).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [39]:
import pandas as pd
import numpy as np

In [40]:
df=pd.read_csv("/content/insurance.csv")

In [41]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [42]:
df['sex']=df['sex'].apply({'male':0,'female':1}.get)
df['smoker']=df['smoker'].apply({'yes':0,'no':1}.get)
df['region']=df['region'].apply({'northeast':0,'northwest':1,'southwest':2,'southeast':3}.get)
df.head()

   age  sex     bmi  children  smoker  region      charges
0   19    1  27.900         0       0       2  16884.92400
1   18    0  33.770         1       1       3   1725.55230
2   28    0  33.000         3       1       3   4449.46200
3   33    0  22.705         0       1       1  21984.47061
4   32    0  28.880         0       1       1   3866.85520

In [48]:
#X=Independent
#Y=Dependent

X=df[['age','sex','bmi','children','smoker','region']]
Y=df['charges']

In [107]:
from sklearn.model_selection import train_test_split

X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2)

Model Building

In [108]:
from sklearn.linear_model import LinearRegression

In [109]:
model=LinearRegression()

In [110]:
model.fit(X_train,Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [111]:
predictions=model.predict(X_test)

In [112]:
predictions[0:5]

array([13655.98490638, 15293.05756756, 11601.02291901,  8501.53384409,
        2557.64597186])

In [113]:
model.score(X,Y)

0.7503414368533442

Predicting for a new customer

In [127]:
data={'age':30,'sex':0,'bmi':23,'children':2,'smoker':1,'region':3}

In [128]:
index=[1]

In [129]:
cust_df=pd.DataFrame(data,index)

In [130]:
predictions_cust=model.predict(cust_df)

In [131]:
print(predictions_cust)

[2679.33086607]