<a href="https://colab.research.google.com/github/11AJ/Machine-Learning/blob/main/House_Price_Prediction(LR).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [119]:
import pandas as pd
import numpy as np

In [120]:
df=pd.read_csv('/content/Housing.csv')

In [121]:
df.head()

      price  area  bedrooms  ...  parking  prefarea furnishingstatus
0  13300000  7420         4  ...        2       yes        furnished
1  12250000  8960         4  ...        3        no        furnished
2  12250000  9960         3  ...        2       yes   semi-furnished
3  12215000  7500         4  ...        3       yes        furnished
4  11410000  7420         4  ...        2        no        furnished

[5 rows x 13 columns]

In [122]:
df['mainroad']=df['mainroad'].apply({'no':0,'yes':1}.get)
df['prefarea']=df['prefarea'].apply({'no':0,'yes':1}.get)
df['guestroom']=df['guestroom'].apply({'no':0,'yes':1}.get)
df['basement']=df['basement'].apply({'no':0,'yes':1}.get)
df['hotwaterheating']=df['hotwaterheating'].apply({'no':0,'yes':1}.get)
df['airconditioning']=df['airconditioning'].apply({'no':0,'yes':1}.get)
df['furnishingstatus']=df['furnishingstatus'].apply({'furnished':0,'semi-furnished':1,'unfurnished':2}.get)
df.head()

      price  area  bedrooms  ...  parking  prefarea  furnishingstatus
0  13300000  7420         4  ...        2         1                 0
1  12250000  8960         4  ...        3         0                 0
2  12250000  9960         3  ...        2         1                 1
3  12215000  7500         4  ...        3         1                 0
4  11410000  7420         4  ...        2         0                 0

[5 rows x 13 columns]

In [123]:
#X=independent
#Y=dependent

X=df[['area','bedrooms','bathrooms','stories','mainroad','guestroom','basement','hotwaterheating',
     'airconditioning','parking','prefarea','furnishingstatus']]
Y=df['price']

In [124]:
from sklearn.model_selection import train_test_split

X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.40)

Model Building

In [125]:
from sklearn.linear_model import LinearRegression

In [126]:
model=LinearRegression()

In [127]:
model.fit(X_train,Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [128]:
predictions=model.predict(X_test)

In [129]:
predictions[0:10]

array([3259201.9465288 , 4054644.02424577, 6400170.45942681,
       3700680.40644578, 3428486.23350156, 5508269.9036714 ,
       6859220.52002924, 3199850.9030831 , 8081506.90923125,
       4726793.34649669])

In [147]:
model.score(X,Y)

0.6753618609983096

In [136]:
df.head()

      price  area  bedrooms  ...  parking  prefarea  furnishingstatus
0  13300000  7420         4  ...        2         1                 0
1  12250000  8960         4  ...        3         0                 0
2  12250000  9960         3  ...        2         1                 1
3  12215000  7500         4  ...        3         1                 0
4  11410000  7420         4  ...        2         0                 0

[5 rows x 13 columns]

Model Prediction for a new person

In [150]:
data={'area':8000,'bedrooms':3,'bathrooms':2,'stories':2,'mainroad':1,'guestroom':1,'basement':1,'hotwaterheating':1,'airconditioning':1,'parking':1,'prefarea':1,'furnishingstatus':1}

In [151]:
index=[1]

In [152]:
cust_df=pd.DataFrame(data,index)

In [153]:
print(cust_df)

   area  bedrooms  bathrooms  ...  parking  prefarea  furnishingstatus
1  8000         3          2  ...        1         1                 1

[1 rows x 12 columns]

In [154]:
predictions_cust=model.predict(cust_df)

In [155]:
print(predictions_cust)

[9156771.42583217]