In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('insurance.csv')

In [3]:
df.head(5)

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [4]:
from sklearn.preprocessing import LabelEncoder

In [5]:
le=LabelEncoder()

In [8]:
df['region']=le.fit_transform(df['region'])
df['sex']=le.fit_transform(df['sex'])
df['smoker']=le.fit_transform(df['smoker'])

In [9]:
df.head(5)

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       3  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       1  21984.47061
4   32    1  28.880         0       0       1   3866.85520

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
x=df.iloc[:,:-1]
y=df['charges']

In [43]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.3)

In [44]:
print(x_test.shape)
print(y_test.shape)
print(x_train.shape)
print(y_train.shape)

(402, 6)
(402,)
(936, 6)
(936,)

In [45]:
from sklearn.linear_model import LinearRegression

In [46]:
model=LinearRegression()

In [47]:
model.fit(x_train,y_train)

LinearRegression()

In [56]:
charges_pred=model.predict(x_test)

In [57]:
print(model.score(x_test,y_test))
print(model.score(x_train,y_train))

0.764165037998719
0.7409007059908491

In [58]:
model.coef_

array([  264.92008279,   108.24718564,   310.1410772 ,   260.07887614,
       22876.55285351,  -304.20310865])

In [59]:
model.intercept_

-11324.65009629321

In [60]:
df.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [61]:
#prediction from Equation of best fit line => y=mx+c

charges_eqn= x_test['age']*model.coef_[0] + x_test['sex']*model.coef_[1] + x_test['bmi']*model.coef_[2] + x_test['children']*model.coef_[3] + x_test['smoker']*model.coef_[4] + x_test['region']*model.coef_[5] + model.intercept_

In [62]:
charges_pred[0:5]

array([13108.69137775, 15177.23357654, 14107.62921826,  9430.53644983,
       22402.83637943])

In [63]:
charges_eqn[0:5]

231     13108.691378
851     15177.233577
719     14107.629218
1293     9430.536450
362     22402.836379
dtype: float64

In [64]:
x_test['charges_pred']=charges_pred
x_test['charges_eqn']=charges_eqn

<ipython-input-64-adfcdb63968e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_test['charges_pred']=charges_pred
<ipython-input-64-adfcdb63968e>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_test['charges_eqn']=charges_eqn

In [65]:
x_test

      age  sex     bmi  children  smoker  region  charges_pred   charges_eqn
231    59    0  27.830         3       0       2  13108.691378  13108.691378
851    61    1  32.300         2       0       1  15177.233577  15177.233577
719    58    0  33.440         0       0       1  14107.629218  14107.629218
1293   46    1  25.745         3       0       1   9430.536450   9430.536450
362    19    0  21.700         0       1       3  22402.836379  22402.836379
...   ...  ...     ...       ...     ...     ...           ...           ...
321    26    0  29.640         4       0       0   5796.169089   5796.169089
860    37    0  47.600         2       1       3  35724.209521  35724.209521
575    58    0  27.170         0       0       1  12163.044664  12163.044664
1301   62    1  30.875         3       1       1  38136.834354  38136.834354
848    27    0  24.100         0       0       3   2389.982773   2389.982773

[402 rows x 8 columns]